In [1]:
# Dependencies and Setup
import pandas as pd
import os

In [2]:
# Read the Vine Table Data and Student Data and store into a Pandas DataFrame
vine_df = pd.read_csv("Resources/vine_table.csv")
vine_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R1NBG94582SJE2,5.0,0.0,0.0,N,Y
1,R273DCA6Y0H9V7,5.0,0.0,0.0,N,Y
2,RQVOXO7WUOFK6,2.0,1.0,1.0,N,Y
3,R1KWKSF21PO6HO,5.0,0.0,0.0,N,Y
4,R38H3UO1J190GI,5.0,1.0,1.0,N,Y
...,...,...,...,...,...,...
1801969,R2II0GWVA7GL4J,5.0,24.0,25.0,N,N
1801970,R2YZH4LW7AANH4,5.0,3.0,17.0,N,N
1801971,R1FRU9LWC7IBDQ,5.0,2.0,5.0,N,N
1801972,RYBK7XWLUMO67,5.0,43.0,46.0,N,N
1801973,R2UVHDW9JNF1KT,5.0,57.0,61.0,N,N

In [5]:
vine_20df = vine_df[vine_df["total_votes"]>20]
vine_20df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
66,R3FJ319XA6ZAUQ,2.0,21.0,25.0,N,Y
124,R6HRF25HUMIIE,5.0,24.0,24.0,N,Y
173,R2CTAK3APOFKZU,5.0,37.0,38.0,N,N
217,R1WQZB0CAEPQBU,2.0,85.0,128.0,N,N
221,RHZDSA48HVRVK,5.0,49.0,86.0,N,N
...,...,...,...,...,...,...
1801963,R29H40OYUHM7JS,1.0,61.0,62.0,N,N
1801968,R1QRN4ICSNTW30,3.0,32.0,32.0,N,N
1801969,R2II0GWVA7GL4J,5.0,24.0,25.0,N,N
1801972,RYBK7XWLUMO67,5.0,43.0,46.0,N,N
1801973,R2UVHDW9JNF1KT,5.0,57.0,61.0,N,N

In [6]:
vine_20df["percent_helpful_votes"] = (vine_20df["helpful_votes"]/vine_20df["total_votes"])*100
vine_20df

C:\Users\tamie\AppData\Local\Temp/ipykernel_37288/277650618.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vine_20df["percent_helpful_votes"] = (vine_20df["helpful_votes"]/vine_20df["total_votes"])*100

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,percent_helpful_votes
66,R3FJ319XA6ZAUQ,2.0,21.0,25.0,N,Y,84.000000
124,R6HRF25HUMIIE,5.0,24.0,24.0,N,Y,100.000000
173,R2CTAK3APOFKZU,5.0,37.0,38.0,N,N,97.368421
217,R1WQZB0CAEPQBU,2.0,85.0,128.0,N,N,66.406250
221,RHZDSA48HVRVK,5.0,49.0,86.0,N,N,56.976744
...,...,...,...,...,...,...,...
1801963,R29H40OYUHM7JS,1.0,61.0,62.0,N,N,98.387097
1801968,R1QRN4ICSNTW30,3.0,32.0,32.0,N,N,100.000000
1801969,R2II0GWVA7GL4J,5.0,24.0,25.0,N,N,96.000000
1801972,RYBK7XWLUMO67,5.0,43.0,46.0,N,N,93.478261
1801973,R2UVHDW9JNF1KT,5.0,57.0,61.0,N,N,93.442623

In [10]:
vine_50df = vine_20df[vine_20df["percent_helpful_votes"]>=50]
vine_50df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,percent_helpful_votes
66,R3FJ319XA6ZAUQ,2.0,21.0,25.0,N,Y,84.000000
124,R6HRF25HUMIIE,5.0,24.0,24.0,N,Y,100.000000
173,R2CTAK3APOFKZU,5.0,37.0,38.0,N,N,97.368421
217,R1WQZB0CAEPQBU,2.0,85.0,128.0,N,N,66.406250
221,RHZDSA48HVRVK,5.0,49.0,86.0,N,N,56.976744
...,...,...,...,...,...,...,...
1801963,R29H40OYUHM7JS,1.0,61.0,62.0,N,N,98.387097
1801968,R1QRN4ICSNTW30,3.0,32.0,32.0,N,N,100.000000
1801969,R2II0GWVA7GL4J,5.0,24.0,25.0,N,N,96.000000
1801972,RYBK7XWLUMO67,5.0,43.0,46.0,N,N,93.478261
1801973,R2UVHDW9JNF1KT,5.0,57.0,61.0,N,N,93.442623

In [12]:
vine_paid = vine_50df[vine_50df["vine"]=="Y"]
vine_paid

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,percent_helpful_votes
4370,R37L6YZDX0P3J9,1.0,28.0,35.0,Y,N,80.000000
5627,R2JT4XRQO2KASL,5.0,38.0,41.0,Y,N,92.682927
32659,R10XRAOBFFSTL2,5.0,44.0,47.0,Y,N,93.617021
34040,R1X8F3R1K1SF5,2.0,30.0,31.0,Y,N,96.774194
57741,R326QV66CKBB43,4.0,127.0,139.0,Y,N,91.366906
...,...,...,...,...,...,...,...
1680504,R1FR2EEJXQ0J9U,2.0,33.0,37.0,Y,N,89.189189
1680796,R2L8OMPMDIC5QK,4.0,81.0,84.0,Y,N,96.428571
1680813,R1RY93JL20IW5B,4.0,153.0,160.0,Y,N,95.625000
1682745,R1RR0YI6ODJ2V5,5.0,22.0,23.0,Y,N,95.652174
1691857,R3ELICDQZNQZFD,4.0,129.0,133.0,Y,Y,96.992481

In [17]:
vine_unpaid = vine_50df[vine_50df["vine"]=="N"]
vine_unpaid

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,percent_helpful_votes
66,R3FJ319XA6ZAUQ,2.0,21.0,25.0,N,Y,84.000000
124,R6HRF25HUMIIE,5.0,24.0,24.0,N,Y,100.000000
173,R2CTAK3APOFKZU,5.0,37.0,38.0,N,N,97.368421
217,R1WQZB0CAEPQBU,2.0,85.0,128.0,N,N,66.406250
221,RHZDSA48HVRVK,5.0,49.0,86.0,N,N,56.976744
...,...,...,...,...,...,...,...
1801963,R29H40OYUHM7JS,1.0,61.0,62.0,N,N,98.387097
1801968,R1QRN4ICSNTW30,3.0,32.0,32.0,N,N,100.000000
1801969,R2II0GWVA7GL4J,5.0,24.0,25.0,N,N,96.000000
1801972,RYBK7XWLUMO67,5.0,43.0,46.0,N,N,93.478261
1801973,R2UVHDW9JNF1KT,5.0,57.0,61.0,N,N,93.442623

In [20]:
paid_count = vine_paid["review_id"].count()
paid_count_5 = vine_paid[vine_paid["star_rating"]==5.0]["review_id"].count()
percent_paid_count_5 = (paid_count_5/paid_count)*100
print(paid_count, paid_count_5,percent_paid_count_5)

580 246 42.41379310344828

In [21]:
unpaid_count = vine_unpaid["review_id"].count()
unpaid_count_5 = vine_unpaid[vine_unpaid["star_rating"]==5.0]["review_id"].count()
percent_unpaid_count_5 = (unpaid_count_5/unpaid_count)*100
print(unpaid_count, unpaid_count_5,percent_unpaid_count_5)

47703 23837 49.96960358887282